body {
    text-align: center;
    background-color: rgb(23, 40, 54);
    color: rgb(255, 253, 251);
}

h1 {
    margin-top: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

div.main-div {
    text-align: center;
}

h2 {
    font-family: Georgia, Times, serif;
    font-size: 1.6rem;
    text-align: center;
    /* display: inline-block; */
    align-items: center;
    margin: auto;
    margin-top: 0.9rem;
}


.btn {
    padding: 0.6rem 3.3rem;
    min-width: 103%;
    margin: 1.3% auto 1.3%;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    font-family: Helvetica, serif;
    font-weight: 100;
}

.btn:hover {
    background-color: rgb(152, 190, 190);
    box-shadow: 0.1rem 0.1rem #0d0f0f;
    background-color: rgb(7, 7, 22);
    color: rgb(255, 247, 240);

}

.question {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 3.3rem;
}

.quiz-box {
    display: inline-block;
    /* justify-content: center; */
    padding: 3% 9% 6%;
    background-color: #1d1f1f;
    width: 43%;
}

.result {
    margin-top: 5%;
    font-family: monospace;
}

.span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    position: relative;
    bottom: 490px;
    left: 333px;
    color: rgb(162, 168, 173);
}

.span span {
    color: rgb(255, 249, 249);
}

.retake {
    margin-top: 3rem;
    background-color: transparent;
    color: aliceblue;
    border: solid;
    border-radius: 0.3rem;
    border-width: 0.003rem;
    padding: 1.1rem 1.6rem;
    font-size: 0.9rem;

}

.score {
    margin-top: 6rem;
    text-align: center;
    font-family: monospace;
}

.startBtn {
    padding: 0.8rem 1.1rem;
    border-color: white;
    background-color: transparent;
    color: rgb(249, 251, 253);
    border-radius: 0.3rem;
    font-weight: 700;
    letter-spacing: 0.03rem;
    margin-top: 3rem;
}

.startBtn:hover {
    color: rgb(27, 28, 29);
    background-color: white;
    /* box-shadow: 3px 3px 6px 6px rgb(111, 114, 117); */

}

/* home */
header {
    display: inline-block;
}

.home-logo {
    position: absolute;
    filter: brightness(0) invert(0.9);
    max-width: 2.3%;
    right: 93%;
    top: 4%;
    margin-top: 0.3rem;
}

.navbar {
    padding: 0.3rem 1rem;
    text-align: center;
}


.profile-btn {
    position: absolute;
    left: 79%;
    top: 3%;
    margin-top: 0.3rem;
    padding: 0.23rem 0.3rem;
    color: aliceblue;
    border-radius: 0.13rem;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    min-width: 19%;
    font-size: 0.8rem;
}

.profile-btn:hover {
    box-shadow: 0.03rem 0.03rem 0.06rem 0.06rem #c1c1c2;
}

.user-logo {
    filter: brightness(0) invert(0.93);
    max-width: 13%;
    margin-right: auto;
}


/* forms */
.form {
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    display: inline-block;
    height: 60%;
    text-align: center;
}

.input {
    background-color: transparent;
    color: aliceblue;
    border: transparent;
    border-radius: 0.33rem;
    display: block;
    margin: 1.3rem 0;
    min-width: 39%;
    min-height: 0.3rem;
    padding: 0.3rem 0;

}


.form-btn {
    border: 3rem;
    border-color: rgb(255, 255, 255);
    color: aliceblue;
    border-radius: 0.13rem;
    background-color: transparent;
    padding: 0.3rem 33%;
    font-size: larger;
    text-align: center;
}

.form-btn:hover {
    color: rgb(40, 33, 54);
    background-color: aliceblue;
    /* box-shadow: 0.03rem 0.03rem 0.03rem 0.03rem #050404; */

}

.form h3 {
    font-family: -apple-system, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    margin-bottom: 2.3rem;
    letter-spacing: 0.03rem;
    font-weight: 100;
}

/* login */
.login-redirect-btn {
    background-color: transparent;
    color: rgb(209, 213, 216);
    font-size: xx-small;
    font-weight: 100;
}

.login-redirect-btn:hover {
    color: rgb(233, 233, 233);
    /* text-shadow: 3rem; */
    font-weight: 300;
}

.login-btn {
    position: absolute;
    left: 89%;
    top: 3%;
    margin-top: 0.3rem;
    padding: 0.23rem 0.3rem;
    color: aliceblue;
    border-radius: 0.13rem;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    min-width: 9%;
    font-size: 0.8rem;
}

.login-btn:hover {
    box-shadow: 0.03rem 0.03rem 0.06rem 0.06rem #c1c1c2;

}

.login-title {

    margin: auto;

}

/* profile */
.reset-container {
    text-align: center;
}

.reset-input {
    background-color: transparent;
    color: aliceblue;
    border: transparent;
    border-radius: 0.03rem;
    display: block;
    min-width: 39%;
    min-height: 0.3rem;
    padding: 0.3rem 0;
    margin: 1.3rem auto;
}

.logout-btn {
    background-color: rgb(167, 51, 51);
    color: aliceblue;
    padding: 0.3rem;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 10%;
    right: 45%;
    left: 45%;
}

.loading-container {
    /* padding: 0.3rem; */
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    position: absolute;
    right: 47.5%;
    left: 47.5%;
    margin: auto;
    top: 26%;
    width: 23px;
    height: 23px;
    border: 6px solid #a9adaf;
    /* Light grey */
    border-top: 6px solid #313030;
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

@media only screen and (max-width: 720px) {
    h2 {
        text-align: center;
        margin: auto;
        padding: 0;
        font-size: smaller;
        position: relative;
        left: 13%;
    }

    .navbar {
        padding: 0;
    }

    .home-logo {
        position: relative;
        min-width: 9%;
        right: 50%;
        margin-top: 0.13rem;

    }

    .login-btn {
        position: relative;
        left: 18%;
    }

    .input {
        border: solid;
        border-color: rgb(209, 209, 209);
        border-width: 0.03rem;
    }

    .form-btn {
        border: solid;
        border-color: aliceblue;
        border-width: 0.00003rem;
        margin-bottom: 0.13rem;
    }

}